<template>
  <div class="log">
    <h2 class="heading">Download Logs as JSON</h2>
    <LogDownload />

    <h2 class="heading spacer">Import Logs</h2>
    <div class="import-status">
      <div :hidden="failedImport ? false : true">
        ☹️ The Import failed. Perhaps check the formatting of the JSON file.
        <button @click="closeMessage">Close</button>
      </div>
      <div :hidden="successfulImport ? false : true">
        The import succeeded.
      </div>
    </div>
    <form @submit.prevent="save" :hidden="successfulImport ? true : false">
      <div>
        <label>
          Paste JSON data
          <textarea v-model="data" cols="30" rows="10" class="import-data"></textarea>
        </label>
      </div>
      <button type="submit">Import Data</button>
    </form>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import { useWeightStore } from '@/stores/weightData'
import LogDownload from '@/components/LogDownload.vue'

const weightStore = useWeightStore()
const data = ref('')
const importStatus = ref()

const successfulImport = computed(() => importStatus.value === true)

const failedImport = computed(() => importStatus.value === false)

function save() {
  if (data.value.length <= 0) {
    importStatus.value = false
    return
  }

  importStatus.value = weightStore.import(data.value)
}

function closeMessage() {
  importStatus.value = null
}
</script>

<style scoped>
.spacer {
  margin-top: 2rem;
}
.import-status {
  background-color: var(--color-background-mute);
}
.import-status div {
  padding: .5rem;
}
.import-data {
  width: 100%;
  margin-bottom: .5rem;
}
</style>
