<script setup lang="ts">
import TheWelcome from '@/components/TheWelcome.vue'
import TheChart from '@/components/TheChart.vue'
</script>

<template>
  <main>
    <TheWelcome />
    <TheChart />
  </main>
</template>
