<template>
  <button @click="download">Download Data</button>
</template>

<script setup lang="ts">
import { getDatabase, ref, onValue } from 'firebase/database'

function download() {
	onValue(ref(getDatabase(), '/logs'), (snapshot) => {
		const text = JSON.stringify(snapshot.val() ?? {})
		const filename = 'weight-journey.json';
		const element = document.createElement('a');
		element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(text));
		element.setAttribute('download', filename);

		element.style.display = 'none';
		document.body.appendChild(element);

		element.click();
		document.body.removeChild(element);
	}, {
		onlyOnce: true
	})
}
</script>
