<template>
  <div class="new">
    <form @submit.prevent="add" class="form">
      <div class="item">
        <label for="new-weight">Weight</label>
        <input id="new-weight" required type="number" v-model="weight" placeholder="ex. 250" class="weight" />
      </div>
      <div class="item">
        <label for="new-date">Date</label>
        <input id="new-date" type="date" v-model="date">
      </div>
      <button type="submit">Add</button>
    </form>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useWeightStore } from '@/stores/weightData'

const weightStore = useWeightStore()
const weight = ref()
const date = ref(new Date().toISOString().slice(0, 10))

function add() {
  if (weight.value.length <= 0) {
    return
  }

  weightStore.add(date.value, weight.value)
  weight.value = ''
}
</script>

<style scoped>
.form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .form {
    flex-wrap: nowrap;
  }
}
.item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: .125rem; */
}
.weight {
  width: 10ch;
}

</style>
