<template>
  <table class="table">
    <tr>
      <th class="weight-cell">Weight</th>
      <th>Date</th>
    </tr>
    <tr v-for="item in weightStore.reverse">
      <td class="weight-cell">{{item.weight}}</td>
      <td>{{item.date}}</td>
      <td class="button-cell">
        <button @click.prevent="remove(item.id)" :class="{'danger': toRemove.has(item.id) ? true : false}">
          <span :hidden="toRemove.has(item.id) ? true : false">Delete</span>
          <span :hidden="toRemove.has(item.id) ? false : true">Really?</span>
        </button>
      </td>
    </tr>
  </table>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useWeightStore } from '@/stores/weightData'

const weightStore = useWeightStore()
const toRemove = ref(new Set())

function remove(id: number) {
  // On first click, store the ID and exit to ensure they really want to delete.
  if (!toRemove.value.has(id)) {
    toRemove.value.add(id)

    // Undo the option to delete if they haven't clicked the confirmation.
    setTimeout(() => {
      toRemove.value.delete(id)
    }, 5000)
    return
  }

  weightStore.remove(id)
  toRemove.value.delete(id)
}
</script>

<style scoped>
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  color: var(--color-heading);
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: var(--color-background-mute);
}
.weight-cell {
  padding: .5rem;
}
.button-cell {
  text-align: right;
  padding: .5rem;
}
.danger {
  background-color: var(--red);
  color:  var(--vt-c-white-mute);
}
</style>
