<template>
  <div>
    <div class="date-range">
      <input type="date" v-model="start" /> - <input type="date" v-model="end" />
    </div>
    <p v-if="changedRangeWeight" class="total"><strong>{{changedRangeWeight}}</strong> lb change</p>
    <Line
      :options="chartOptions"
      :data="chartData"
      :chart-id="chartId"
      :dataset-id-key="datasetIdKey"
      :plugins="plugins"
      :css-classes="cssClasses"
      :styles="styles"
      :width="width"
      :height="height"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'
import { useWeightStore } from '@/stores/weightData'
import { Line } from 'vue-chartjs'
import { Chart, LineElement, LinearScale, TimeScale, CategoryScale, PointElement, Filler, Tooltip } from 'chart.js'
import dayjs from 'dayjs'
import 'chartjs-adapter-dayjs-4/dist/chartjs-adapter-dayjs-4.esm';

const weightStore = useWeightStore()

// https://www.chartjs.org/docs/latest/getting-started/integration.html
Chart.register(LineElement, LinearScale, TimeScale, CategoryScale, PointElement, Filler, Tooltip)

defineProps({
  chartId: {
    type: String,
    default: 'line-chart'
  },
  datasetIdKey: {
    type: String,
    default: 'label'
  },
  width: {
    type: Number,
    default: 800
  },
  height: {
    type: Number,
    default: 400
  },
  cssClasses: {
    default: '',
    type: String
  },
  styles: {
    type: Object,
    default: () => {}
  },
  plugins: {
    type: Object,
    default: () => {}
  }
})

const start = ref(weightStore.oldestDate)
const end = ref(weightStore.newestDate)

watch(() => weightStore.data, () => {
  if (weightStore.oldestDate && weightStore.newestDate) {
    start.value = weightStore.oldestDate
    end.value = weightStore.newestDate
  }
})

const chartData = computed(() => {
  const weights = weightStore.sorted
    // Filter to only the selected date range.
    .filter(({date}) => {
      if (!start.value || !end.value) {
        return true
      }

      const isoDate = dayjs(date).toISOString()
      const isoStart = dayjs(start.value).toISOString()
      const isoEnd = dayjs(end.value).toISOString()
      const after = dayjs(isoDate).isAfter(isoStart)
      const afterEqual = dayjs(isoStart).isSame(isoDate)
      const before = dayjs(isoDate).isBefore(isoEnd)
      const beforeEqual = dayjs(isoDate).isSame(isoEnd)

      return (after || afterEqual) && (before || beforeEqual)
    })
    .map(({ date, weight }) => {
      return {
        x: dayjs(date).toISOString(),
        y: weight
      }
    })

  return {
    // labels: dates,
    datasets: [{
      data: weights,
      fill: {
        target: 'start',
        above: 'hsla(160, 100%, 37%, .05)'
      },
      borderColor: 'hsla(160, 100%, 37%, 1)',
      tension: 0.1
    }]
  }
})

const chartOptions = computed(() => {
  return {
    responsive: true,
    scales: {
      y: {
        grace: '5'
      },
      x: {
        type: 'time',
        suggestedMin: start.value,
        suggestedMax: end.value,
        time: {
          unit: 'month',
          displayFormats: {
            month: 'MMM'
          }
        }
      }
    }
  }
})

const changedRangeWeight = computed(() => {
  const data = chartData.value.datasets[0].data
  if (data.length < 2) {
    return
  }
  return data[0].y - data.slice(-1)[0].y
})
</script>

<style scoped>
.date-range {
  display: flex;
  gap: .25rem;
  margin-bottom: .5rem;
  justify-content: flex-end;
}

.total {
  text-align: right;
}
</style>
