<script setup lang="ts">
import TotalLost from '@/components/TotalLost.vue'
defineProps<{
  msg: string
}>()
</script>

<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <TotalLost class="total" />
  </div>
</template>

<style scoped>
h1 {
  font-size: 2.2rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.6rem;
  }
}

.total {
  color: var(--color-heading);
  font-size: 1.2rem;
}

.greetings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .greetings {
    display: block;
  }
}
</style>
