<script setup lang="ts">
import WelcomeItem from './WelcomeItem.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
</script>

<template>
  <WelcomeItem>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>Rowing Logs</template>

    <a target="_blank" href="https://log.concept2.com/profile/1618104">Concept2 Logbook</a>
    with rowing stats and the
    <a target="_blank" href="https://log.concept2.com/season/2024">2024 Season logs</a>
  </WelcomeItem>

</template>
