<template>
  <div>
    <p>Total Lost: <strong>{{ total }}lb</strong></p>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useWeightStore } from '@/stores/weightData'

const weightStore = useWeightStore()

const total = computed(() => {
  const oldest = weightStore.oldestWeight ?? 0
  const newest = weightStore.newestWeight ?? 0
  return oldest - newest
})
</script>
