<script setup lang="ts">
import { onMounted } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import { useWeightStore } from '@/stores/weightData'
import TheTitle from '@/components/TheTitle.vue'
import LogNew from '@/components/LogNew.vue'
import TotalLost from '@/components/TotalLost.vue'

onMounted(() => {
  useWeightStore().load()
})
</script>

<template>
  <header>
    <div class="wrapper">
      <TheTitle msg="Weight Journey" />

      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/log">Logs</RouterLink>
        <RouterLink to="/export">Export/Import</RouterLink>
      </nav>

      <LogNew />
    </div>
  </header>

  <RouterView />
</template>

<style>
@import '@/assets/base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

#app header {
  margin-bottom: 2rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: var(--green);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--dark-green);
  }
}

nav {
  width: 100%;
  font-size: .875rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: .25rem 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  #app header {
    margin-bottom: 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
